body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.nav-items {
    background-color: rgb(79,44,29);
    overflow: hidden;
}

.nav-items a {
    float: right;
    color: rgb(244,121,51);
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
}

a:hover{
    box-shadow: inset 0px 0px 15px rgb(243, 164, 121), 0px 0px 15px rgb(243, 164, 121);
    border-radius: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-items a.active {
    background-color: whitesmoke;
}

/*#logo{
    background-color: #2f6690;
    border-radius: 40%;
    color: rgb(244,121,51);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
} */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

figure {
    border: 10px solid rgb(248, 116, 45);
    margin: 5px;
    padding: 10px;
    transition: all 2s ease-in-out;
  }

:root{
    /* spacing */
    --spacing-unit: 50px;
    --spacing-unit-small: 12px;
    --spacing-unit-tiny: 6px;
  }